@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Student</title>
</head>
<body>
    <h2>Detail Student</h2>
    <p>Nim: @Model.Nim, Nama: @Model.Nama</p>
</body>
</html>