@model List<contohaspcore.Models.Student>

@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <h2>Daftar Student</h2>
    <a href="~/Student/Insert">Insert Data</a><br/>
    <table border="1">
        <tr>
            <th>Nim</th><th>Nama</th><th>Alamat</th><th>Telp</th><th></th><th></th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Nim</td>
                <td>@student.Nama</td>
                <td>@student.Alamat</td>
                <td>@student.Telp</td>
                <td><a href="~/Student/Detail/@student.Nim">detail</a></td>
                <th><a href="~/Student/Edit/@student.Nim">edit</a></th>
            </tr>
        }
    </table>
    
</body>
</html>