@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
</head>
<body>
    <h2>Student Page</h2>
    <form method="POST" action="~/Student/Registration">
        <fieldset>
            <label for="nim">NIM :</label><br/>
            <input type="text" name="nim"><br/><br/>
            <label for="nama">Nama :</label><br/>
            <input type="text" name="nama"><br/><br/>
            <input type="submit" name="Submit">
        </fieldset>

    </form>
</body>
</html>