@{
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Data</title>
</head>
<body>
    <form method="POST" action="~/Student/Insert">
        <fieldset>
            <label for="Nim">Nim :</label><br/>
            <input type="text" name="Nim"><br/><br/>
            <label for="Nama">Nama :</label><br/>
            <input type="text" name="Nama"><br/><br/>
            <label for="Alamat">Alamat :</label><br/>
            <input type="text" name="Alamat"><br/><br/>
            <label for="Telp">Telp :</label><br/>
            <input type="text" name="Telp"><br/><br/>

            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
</html>