@{
    Layout=null;

    double nilai= Convert.ToDouble(ViewData["Nilai"]);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Confirmation</title>
</head>
<body>
    <h2>Data Student</h2>
    <p>Nim anda @ViewData["Nim"] dan Nama anda: @ViewData["Nama"] </p>
    @if(nilai>=70){
        <p style="color:blue;">Anda Lulus</p>
    }else {
        <p style="color:red;">Anda Tidak Lulus</p>
    }
</body>
</html>